USE [TimeAideSouthern_TSEditor]
GO
/****** Object:  Table [dbo].[ChatConversation]    Script Date: 10/18/2024 8:30:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChatConversation](
	[ChatConversationId] [int] IDENTITY(1,1) NOT NULL,
	[ChatConversationTitle] [nvarchar](250) NOT NULL,
	[ChatInitiatedById] [int] NOT NULL,
	[CompanyId] [int] NULL,
	[ClientId] [int] NULL,
	[CreatedBy] [int] NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
	[DataEntryStatus] [int] NOT NULL,
	[ModifiedBy] [int] NULL,
	[ModifiedDate] [datetime] NULL,
	[Old_Id] [int] NULL,
 CONSTRAINT [PK_dbo.ChatConversation] PRIMARY KEY CLUSTERED 
(
	[ChatConversationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ChatConversation]  WITH CHECK ADD  CONSTRAINT [FK_dbo.ChatConversation_dbo.UserInformation_ChatInitiatedById] FOREIGN KEY([ChatInitiatedById])
REFERENCES [dbo].[UserInformation] ([UserInformationId])
GO
ALTER TABLE [dbo].[ChatConversation] CHECK CONSTRAINT [FK_dbo.ChatConversation_dbo.UserInformation_ChatInitiatedById]
GO
