USE [TimeAideSouthern_TSEditor]
GO
/****** Object:  Table [dbo].[EmploymentHistoryAuthorizer]    Script Date: 10/18/2024 8:30:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EmploymentHistoryAuthorizer](
	[EmploymentHistoryAuthorizerId] [int] IDENTITY(1,1) NOT NULL,
	[AuthorizeById] [int] NULL,
	[EmploymentHistoryId] [int] NULL,
	[ClientId] [int] NULL,
	[CreatedBy] [int] NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
	[DataEntryStatus] [int] NOT NULL,
	[ModifiedBy] [int] NULL,
	[ModifiedDate] [datetime] NULL,
	[Old_Id] [int] NULL,
 CONSTRAINT [PK_dbo.EmploymentHistoryAuthorizer] PRIMARY KEY CLUSTERED 
(
	[EmploymentHistoryAuthorizerId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[EmploymentHistoryAuthorizer]  WITH CHECK ADD  CONSTRAINT [FK_dbo.EmploymentHistoryAuthorizer_dbo.EmploymentHistory_EmploymentHistoryId] FOREIGN KEY([EmploymentHistoryId])
REFERENCES [dbo].[EmploymentHistory] ([EmploymentHistoryId])
GO
ALTER TABLE [dbo].[EmploymentHistoryAuthorizer] CHECK CONSTRAINT [FK_dbo.EmploymentHistoryAuthorizer_dbo.EmploymentHistory_EmploymentHistoryId]
GO
