USE [TimeAideSouthern_TSEditor]
GO
/****** Object:  Table [dbo].[DataMigrationLogDetail]    Script Date: 10/18/2024 8:30:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DataMigrationLogDetail](
	[DataMigrationLogDetailId] [int] IDENTITY(1,1) NOT NULL,
	[LogCommandName] [nvarchar](500) NULL,
	[LogDetailName] [nvarchar](500) NULL,
	[LogDescription] [nvarchar](2000) NULL,
	[LogRemarks] [nvarchar](2000) NULL,
	[RowCount] [int] NOT NULL,
	[DataMigrationLogId] [int] NOT NULL,
	[ClientId] [int] NULL,
	[CreatedBy] [int] NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
	[DataEntryStatus] [int] NOT NULL,
	[ModifiedBy] [int] NULL,
	[ModifiedDate] [datetime] NULL,
	[Old_Id] [int] NULL,
 CONSTRAINT [PK_dbo.DataMigrationLogDetail] PRIMARY KEY CLUSTERED 
(
	[DataMigrationLogDetailId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[DataMigrationLogDetail]  WITH CHECK ADD  CONSTRAINT [FK_dbo.DataMigrationLogDetail_dbo.DataMigrationLog_DataMigrationLogId] FOREIGN KEY([DataMigrationLogId])
REFERENCES [dbo].[DataMigrationLog] ([DataMigrationLogId])
GO
ALTER TABLE [dbo].[DataMigrationLogDetail] CHECK CONSTRAINT [FK_dbo.DataMigrationLogDetail_dbo.DataMigrationLog_DataMigrationLogId]
GO
