USE [TimeAideSouthern_TSEditor]
GO
/****** Object:  Table [dbo].[SenderEmailConfiguration]    Script Date: 10/18/2024 8:30:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SenderEmailConfiguration](
	[SenderEmailConfigurationId] [int] IDENTITY(1,1) NOT NULL,
	[MailProvider] [nvarchar](max) NOT NULL,
	[HostName] [nvarchar](max) NOT NULL,
	[ProviderAccount] [nvarchar](max) NOT NULL,
	[Password] [nvarchar](max) NOT NULL,
	[Port] [int] NOT NULL,
	[EnableSsl] [bit] NOT NULL,
	[FromEmail] [nvarchar](max) NOT NULL,
	[UseFixedForm] [bit] NOT NULL,
	[SampleEmail] [nvarchar](max) NULL,
	[Environment] [nvarchar](max) NULL,
	[SenderName] [nvarchar](max) NOT NULL,
	[CompanyId] [int] NULL,
	[ClientId] [int] NULL,
	[CreatedBy] [int] NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
	[DataEntryStatus] [int] NOT NULL,
	[ModifiedBy] [int] NULL,
	[ModifiedDate] [datetime] NULL,
	[Old_Id] [int] NULL,
 CONSTRAINT [PK_dbo.SenderEmailConfiguration] PRIMARY KEY CLUSTERED 
(
	[SenderEmailConfigurationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
