USE [TimeAideSouthern_TSEditor]
GO
/****** Object:  Table [dbo].[WebPunchConfiguration]    Script Date: 10/18/2024 8:30:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WebPunchConfiguration](
	[WebPunchConfigurationId] [int] IDENTITY(1,1) NOT NULL,
	[PunchServiceUrl] [nvarchar](1000) NULL,
	[PunchServiceCompanyId] [int] NULL,
	[PunchServiceCompanyPassword] [nvarchar](500) NULL,
	[UseGPSCoordinates] [bit] NULL,
	[UseJobCode] [bit] NULL,
	[CompanyId] [int] NULL,
	[ClientId] [int] NULL,
	[CreatedBy] [int] NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
	[DataEntryStatus] [int] NOT NULL,
	[ModifiedBy] [int] NULL,
	[ModifiedDate] [datetime] NULL,
	[Old_Id] [int] NULL,
	[APIKey] [varchar](500) NULL,
 CONSTRAINT [PK_dbo.WebPunchConfiguration] PRIMARY KEY CLUSTERED 
(
	[WebPunchConfigurationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
