USE [TimeAideSouthern_TSEditor]
GO
/****** Object:  Table [dbo].[PassswordResetCode]    Script Date: 10/18/2024 8:30:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PassswordResetCode](
	[PassswordResetCodeId] [int] IDENTITY(1,1) NOT NULL,
	[UserInformationId] [int] NOT NULL,
	[ResetCode] [nvarchar](max) NULL,
	[ActivationCode] [uniqueidentifier] NOT NULL,
	[ClientId] [int] NULL,
	[CreatedBy] [int] NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
	[DataEntryStatus] [int] NOT NULL,
	[ModifiedBy] [int] NULL,
	[ModifiedDate] [datetime] NULL,
	[Old_Id] [int] NULL,
 CONSTRAINT [PK_dbo.PassswordResetCode] PRIMARY KEY CLUSTERED 
(
	[PassswordResetCodeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[PassswordResetCode]  WITH CHECK ADD  CONSTRAINT [FK_dbo.PassswordResetCode_dbo.UserInformation_UserInformationId] FOREIGN KEY([UserInformationId])
REFERENCES [dbo].[UserInformation] ([UserInformationId])
GO
ALTER TABLE [dbo].[PassswordResetCode] CHECK CONSTRAINT [FK_dbo.PassswordResetCode_dbo.UserInformation_UserInformationId]
GO
