USE [TimeAideSouthern_TSEditor]
GO
/****** Object:  Table [dbo].[CompanyMedia]    Script Date: 10/18/2024 8:30:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CompanyMedia](
	[CompanyMediaId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
	[MediaFilePath] [nvarchar](max) NULL,
	[FileName] [nvarchar](max) NULL,
	[IsDefaultMedia] [bit] NOT NULL,
	[CompanyId] [int] NULL,
	[ClientId] [int] NULL,
	[CreatedBy] [int] NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
	[DataEntryStatus] [int] NOT NULL,
	[ModifiedBy] [int] NULL,
	[ModifiedDate] [datetime] NULL,
	[Old_Id] [int] NULL,
	[MediaType] [nvarchar](15) NULL,
	[PosterFilePath] [nvarchar](300) NULL,
	[PosterFileName] [nvarchar](100) NULL,
 CONSTRAINT [PK_dbo.CompanyMedia] PRIMARY KEY CLUSTERED 
(
	[CompanyMediaId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
