USE [TimeAideSouthern_TSEditor]
GO
/****** Object:  Table [dbo].[GLAccount]    Script Date: 10/18/2024 8:30:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GLAccount](
	[GLAccountId] [int] IDENTITY(1,1) NOT NULL,
	[GLAccountName] [nvarchar](150) NOT NULL,
	[GLAccountDescription] [nvarchar](150) NULL,
	[GLAccountTypeId] [int] NOT NULL,
	[CompanyId] [int] NULL,
	[ClientId] [int] NULL,
	[CreatedBy] [int] NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
	[DataEntryStatus] [int] NOT NULL,
	[ModifiedBy] [int] NULL,
	[ModifiedDate] [datetime] NULL,
	[Old_Id] [int] NULL,
 CONSTRAINT [PK_dbo.GLAccount] PRIMARY KEY CLUSTERED 
(
	[GLAccountId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[GLAccount]  WITH CHECK ADD  CONSTRAINT [FK_dbo.GLAccount_dbo.GLAccountType_GLAccountTypeId] FOREIGN KEY([GLAccountTypeId])
REFERENCES [dbo].[GLAccountType] ([GLAccountTypeId])
GO
ALTER TABLE [dbo].[GLAccount] CHECK CONSTRAINT [FK_dbo.GLAccount_dbo.GLAccountType_GLAccountTypeId]
GO
