USE [Live_MSA_Test_Cloud]
GO
/****** Object:  Table [dbo].[BiometricRoster]    Script Date: 10/18/2024 11:30:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BiometricRoster](
	[Customer_Id] [int] NULL,
	[ABalance] [float] NULL,
	[MBalance] [float] NULL,
	[BonusBalance] [float] NULL,
	[Balance] [float] NULL,
	[ClientID] [bigint] NOT NULL,
	[CSTID] [bigint] NOT NULL,
	[DISTID] [bigint] NOT NULL,
	[LANGUAGEID] [bigint] NULL,
	[SCHID] [bigint] NULL,
	[GRID] [bigint] NULL,
	[HRID] [bigint] NULL,
	[CreationDate] [datetime2](7) NULL,
	[GraduationDate] [smalldatetime] NULL,
	[DeactiveDate] [datetime2](7) NULL,
	[ReactiveDate] [datetime2](7) NULL,
	[isActive] [bit] NOT NULL,
	[isDeleted] [bit] NOT NULL,
	[isActiveInt] [int] NOT NULL,
	[isDeletedInt] [int] NOT NULL,
	[AllowBio] [bit] NULL,
	[BioPresent] [bit] NULL,
	[UserID] [varchar](16) NOT NULL,
	[PIN] [varchar](16) NOT NULL,
	[AllowAlaCarte] [bit] NULL,
	[CashOnly] [bit] NULL,
	[LunchType] [int] NOT NULL,
	[isStudent] [bit] NULL,
	[isFrozen] [int] NOT NULL,
	[LastName] [varchar](24) NULL,
	[FirstName] [varchar](16) NULL,
	[Middle] [varchar](1) NOT NULL,
	[Address1] [varchar](30) NULL,
	[Address2] [varchar](30) NULL,
	[City] [varchar](30) NULL,
	[State] [varchar](2) NULL,
	[Zip] [varchar](10) NULL,
	[Phone] [varchar](14) NULL,
	[EMail] [varchar](60) NULL,
	[ExtraInfo] [varchar](30) NULL,
	[SSN] [varchar](11) NULL,
	[Grade] [varchar](15) NOT NULL,
	[Homeroom] [varchar](10) NOT NULL,
	[SchoolName] [varchar](60) NOT NULL,
	[SchoolID] [varchar](30) NOT NULL,
	[SchoolAddress1] [varchar](30) NOT NULL,
	[SchoolAddress2] [varchar](30) NOT NULL,
	[SchoolCity] [varchar](30) NOT NULL,
	[SchoolState] [varchar](2) NOT NULL,
	[SchoolZip] [varchar](10) NOT NULL,
	[SchoolPhone1] [varchar](14) NOT NULL,
	[SchoolPhone2] [varchar](14) NOT NULL,
	[DistrictName] [varchar](30) NOT NULL,
	[DistrictAddress1] [varchar](30) NOT NULL,
	[DistrictAddress2] [varchar](30) NOT NULL,
	[DistrictCity] [varchar](30) NOT NULL,
	[DistrictState] [varchar](2) NOT NULL,
	[DistrictZip] [varchar](10) NOT NULL,
	[DistrictPhone1] [varchar](14) NOT NULL,
	[DistrictPhone2] [varchar](14) NOT NULL,
	[LunchTypeStatus] [varchar](20) NOT NULL,
	[LunchTypeSort] [int] NOT NULL,
	[MealPlanAssignment] [varchar](20) NULL,
	[NumMealsLeft] [int] NULL,
	[ActiveStatus] [varchar](8) NOT NULL,
	[ActiveStatusSort] [int] NULL,
	[QTYPaid] [int] NOT NULL,
	[QTYReduced] [int] NOT NULL,
	[QTYFree] [int] NOT NULL,
	[QTYAdult] [int] NOT NULL,
	[QTYMealPlan] [int] NOT NULL,
	[QTYPFR] [int] NOT NULL
) ON [PRIMARY]
GO
