USE [Live_MSA_Test_Cloud]
GO
/****** Object:  Table [dbo].[ecsEventLog]    Script Date: 10/18/2024 11:30:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ecsEventLog](
	[ClientID] [bigint] NOT NULL,
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[Event_Id] [bigint] NOT NULL,
	[EventName] [varchar](32) NOT NULL,
	[Function_Id] [bigint] NULL,
	[Schedule_Id] [bigint] NULL,
	[RunTime] [smalldatetime] NULL,
	[Success] [bit] NULL,
	[Message] [varchar](255) NULL,
	[SelectedEndDate] [datetime2](7) NULL,
	[LastUpdatedUTC] [datetime2](7) NULL,
	[UpdatedBySync] [bit] NULL,
	[Local_ID] [int] NULL,
	[CloudIDSync] [bit] NOT NULL,
 CONSTRAINT [PK_ecsEventLog] PRIMARY KEY NONCLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ecsEventLog] ADD  DEFAULT (getutcdate()) FOR [LastUpdatedUTC]
GO
ALTER TABLE [dbo].[ecsEventLog] ADD  DEFAULT ((0)) FOR [UpdatedBySync]
GO
ALTER TABLE [dbo].[ecsEventLog] ADD  DEFAULT ((0)) FOR [CloudIDSync]
GO
