USE [Live_MSA_Test_Cloud]
GO
/****** Object:  UserDefinedTableType [dbo].[TransactionRecordsId]    Script Date: 10/18/2024 11:30:48 PM ******/
CREATE TYPE [dbo].[TransactionRecordsId] AS TABLE(
	[Id] [bigint] NULL
)
GO
