USE [TIMEAIDE_7_SOUTHERN]
GO
/****** Object:  Table [dbo].[tPayrollRule]    Script Date: 10/18/2024 8:10:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tPayrollRule](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](30) NULL,
	[sDesc] [nvarchar](30) NULL,
	[nPunchNum] [int] NULL,
	[bSchedHours] [bit] NULL,
	[bAssignHours] [bit] NULL,
	[dblAssignNumHours] [float] NULL,
	[bRoundIn] [bit] NULL,
	[bRoundOut] [bit] NULL,
	[bNoOvertime] [bit] NULL,
	[dblNoOvertimeHours] [float] NULL,
	[dblSchedDailyRegHours] [float] NULL,
	[dblLawDailyRegHours] [float] NULL,
	[dblSchedWeeklyRegHours] [float] NULL,
	[bUseLawWeeklyHours] [bit] NULL,
	[dblLawWeeklyRegHours] [float] NULL,
	[bUSeLaw24Hours] [bit] NULL,
	[dblSchedLunchHours] [float] NULL,
	[bLawLateBreakPenalty] [bit] NULL,
	[dblLawLateBreakPenaltyHours] [float] NULL,
	[nRoundInEarlyMin] [int] NULL,
	[nRoundInLateMin] [int] NULL,
	[bEarlyInException] [bit] NULL,
	[bLateInException] [bit] NULL,
	[nEarlyInExceptionMin] [int] NULL,
	[nLateInExceptionMin] [int] NULL,
	[nRoundOutEarlyMin] [int] NULL,
	[nRoundOutLateMin] [int] NULL,
	[bEarlyOutException] [bit] NULL,
	[bLateOutException] [bit] NULL,
	[nEarlyOutExceptionMin] [int] NULL,
	[nLateOutExceptionMin] [int] NULL,
	[nPayPeriod] [int] NULL,
	[dReferenceDate] [smalldatetime] NULL,
	[dblNextDayBreakHours] [float] NULL,
	[nRoundingInterval] [int] NULL,
	[nDailyOTComp] [int] NULL,
	[nWeeklyOTComp] [int] NULL,
	[n24OTComp] [int] NULL,
	[bPaidMeal] [bit] NULL,
	[dblPaidMealMinHours] [float] NULL,
	[dblPaidMealHours] [float] NULL,
	[nShiftDiff] [int] NULL,
	[dStartTimeDiff] [smalldatetime] NULL,
	[dEndTimeDiff] [smalldatetime] NULL,
	[dReferenceReportDate] [smalldatetime] NULL,
	[sShiftDiff] [nvarchar](10) NULL,
	[bRoundToSchedule] [bit] NULL,
	[dblRoundAfterHours] [float] NULL,
	[sShiftDiffExpCode] [nvarchar](10) NULL,
	[bDeductMeal] [bit] NULL,
	[dblDeductMealMinHours] [float] NULL,
	[dbldeductMealHours] [float] NULL,
	[nSundayOT] [int] NULL,
	[nMondayOT] [int] NULL,
	[nTuesdayOT] [int] NULL,
	[nWednesdayOT] [int] NULL,
	[nThursdayOT] [int] NULL,
	[nFridayOT] [int] NULL,
	[nSaturdayOT] [int] NULL,
	[bShortLunchMealPenalty] [bit] NULL,
	[bRoundMealToSched] [bit] NULL,
	[nMealEarlyRoundMin] [int] NULL,
	[nMealLateRoundMin] [int] NULL,
	[bEarlyInMealException] [bit] NULL,
	[nEarlyInMealExceptionMin] [int] NULL,
	[bLateInMealException] [bit] NULL,
	[nLateInMealExceptionMin] [int] NULL,
	[bEarlyOutMealException] [bit] NULL,
	[nEarlyOutMealExceptionMin] [int] NULL,
	[bLateOutMealException] [bit] NULL,
	[nLateOutMealExceptionMin] [int] NULL,
	[bRoundToMealPeriod] [bit] NULL,
	[bShortMealException] [bit] NULL,
	[nShortMealExceptionMin] [int] NULL,
	[bLongMealException] [bit] NULL,
	[nLongMealExceptionMin] [int] NULL,
	[bAllowBreak] [bit] NULL,
	[nMaxBreakNum] [int] NULL,
	[nBreakType] [int] NULL,
	[nBreakLengthMIn] [int] NULL,
	[dblMaxWorkedHoursToBreak] [float] NULL,
	[nBreakRoundingMin] [int] NULL,
	[bShortBreakException] [bit] NULL,
	[nShortBreakExceptionMin] [int] NULL,
	[bLongBreakException] [bit] NULL,
	[nLongBreakExceptionMin] [int] NULL,
	[dblSchedSecondaryMealHours] [float] NULL,
	[nShiftDiffCount] [int] NULL,
	[dStartTimeDiff2] [smalldatetime] NULL,
	[dEndTimeDiff2] [smalldatetime] NULL,
	[sShiftDiffName2] [nvarchar](10) NULL,
	[sShiftDiffCode2] [nvarchar](10) NULL,
	[dblAssignWeekHours] [float] NULL,
	[nCompanyID] [int] NULL,
	[bTimeCard] [bit] NULL,
	[bSeventhDayLaw] [bit] NULL,
	[n24HourLawType] [int] NULL,
	[bSecondMealWaiver] [bit] NULL,
	[dblSecondMealWaiverHrs] [float] NULL,
	[nRoundingMethod] [int] NULL,
	[nPunchRoundingPeriod] [int] NULL,
	[dblSemiMonthlyHours] [float] NULL,
	[nSemiMonthlyType] [int] NULL,
	[bDeductSecondaryMeal] [bit] NULL,
	[dblDeductSecondaryMealMinHours] [float] NULL,
	[dblDeductSecondaryMealHours] [float] NULL,
	[bPaidSecondaryMeal] [bit] NULL,
	[dblPaidSecondaryMealMinHours] [float] NULL,
	[dblPaidScondaryMealHours] [float] NULL,
	[nSecondaryMealWaver] [int] NULL,
	[nOT_SH_LawType] [int] NULL,
	[nMeal_LawType] [int] NULL,
	[nLateRounding] [int] NULL,
	[bUse6HourMinimum] [bit] NULL,
	[nSeventhDayComputation] [int] NOT NULL,
 CONSTRAINT [PK_tPayrollRule] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[tPayrollRule] ADD  CONSTRAINT [DF_tPayrollRule_nOT_SH_LawType]  DEFAULT ((0)) FOR [nOT_SH_LawType]
GO
ALTER TABLE [dbo].[tPayrollRule] ADD  CONSTRAINT [DF_tPayrollRule_nMeal_LawType]  DEFAULT ((0)) FOR [nMeal_LawType]
GO
ALTER TABLE [dbo].[tPayrollRule] ADD  DEFAULT ((0)) FOR [nSeventhDayComputation]
GO
