USE [TIMEAIDE_7_SOUTHERN]
GO
/****** Object:  Table [dbo].[tSickRules]    Script Date: 10/18/2024 8:10:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tSickRules](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[sSickRuleName] [nvarchar](50) NULL,
	[sSickRuleDesc] [nvarchar](50) NULL,
	[nAccrualPeriod] [int] NULL,
	[dblMinHoursToWork] [float] NULL,
	[dblHoursToAccruePeriod] [float] NULL,
	[dblMaxHoursToAccrue] [float] NULL,
	[nResetHoursOptions] [int] NULL,
	[dBeginningOfYear] [datetime] NULL,
 CONSTRAINT [PK_tSickRules] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
