USE [TIMEAIDE_7_SOUTHERN]
GO
/****** Object:  Table [dbo].[tblPayrollImportFileTemplate]    Script Date: 10/18/2024 8:10:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblPayrollImportFileTemplate](
	[intTemplateId] [int] IDENTITY(1,1) NOT NULL,
	[sTemplateName] [nvarchar](100) NULL,
	[dtCreationDate] [datetime] NULL,
 CONSTRAINT [PK_tblPayrollFileTemplate] PRIMARY KEY CLUSTERED 
(
	[intTemplateId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
