USE [TIMEAIDE_7_SOUTHERN]
GO
/****** Object:  UserDefinedFunction [dbo].[fnUserCompensationDaily]    Script Date: 10/18/2024 8:10:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
 CREATE FUNCTION [dbo].[fnUserCompensationDaily]  (	 @UserID  int, @PunchDate  date, @AccrualType  nvarchar(50) ) RETURNS  @tUserCommpensationMonthly TABLE ( 	nUserID  int,	 	dEffectiveDate  smalldatetime,	 	dBalanceStartDate smalldatetime, 	sAccrualType nvarchar(50), 	dblAccruedHours decimal(18,5), 	dblAccrualDailyHours decimal(18,5), 	dblStartBalance decimal(18,5), 	dblAccruedBalance decimal(18,5), 	dblTakenBalance decimal(18,5), 	sAccrualDays [nvarchar](50) )    AS BEGIN 	declare @StartBalance as decimal(18,5) 	declare @dBalanceDate as date 	declare @AccruedBalance as decimal(18,5) 	declare @TakenBalance as decimal(18,5) 	declare @AccrualDailyHours as decimal(18,5) 	declare @sAccrualDays [nvarchar](50) 	declare @TodayAccrualBalance as decimal(18,5) 	declare @dUCBalanceStartDate as date  	declare @dUCCBalanceStartDate as date  	 	select @dUCBalanceStartDate  = max(dBalanceStartDate) FROM [dbo].[tUserCompensationBalances]  where nUserID = @USERID AND (dBalanceStartDate <= @PunchDate ) AND (sAccrualType = @AccrualType ) 	select @dUCCBalanceStartDate  = max(dBalanceStartDate) FROM [dbo].[tUserCompensationComputedBalances] where nUserID = @USERID AND (dBalanceStartDate <= @PunchDate ) AND (sAccrualType = @AccrualType )   	IF isnull(@dUCBalanceStartDate,'1/1/1900') > isnull(@dUCCBalanceStartDate,'1/1/1900')  	BEGIN 		select top(1) @StartBalance =  ucb.dblAccruedHours, @AccrualDailyHours = ucb.dblAccrualDailyHours, @dBalanceDate = ucb.dBalanceStartDate  		from tUserCompensationBalances ucb 	where nUserID = @USERID and sAccrualType= @AccrualType and dBalanceStartDate = @dUCBalanceStartDate  	END ELSE 	BEGIN 		select top(1) @StartBalance =  ucb.dblAccruedHours, @AccrualDailyHours = ucb.dblAccrualDailyHours, @dBalanceDate = ucb.dBalanceStartDate  		from tUserCompensationComputedBalances ucb 	where nUserID = @USERID and sAccrualType= @AccrualType and dBalanceStartDate = @dUCCBalanceStartDate  	END   	select @AccruedBalance = (select SUM(dblAccruedHours) from tUserCompensationAccruals where nUserID = @UserID and sAccrualType = @AccrualType and dEffectiveDate between @dBalanceDate AND  @PunchDate 	group by nUserID, sAccrualType )   	select @TakenBalance = (Select sum(pp.HoursWorked) FROM tPunchPair pp INNER JOIN tTransDef td  ON pp.sType = td.Name WHERE pp.e_id = @UserID And td.sAccrualImportName = @AccrualType and DTPunchDate between @dBalanceDate AND  @PunchDate)   	set @TodayAccrualBalance = isnull( @StartBalance,0) + isnull(@AccruedBalance,0) - isnull(@TakenBalance,0)   	select @sAccrualDays = [dbo].[fnGetAccrualDays](  @TodayAccrualBalance,@AccrualDailyHours)   	insert @tUserCommpensationMonthly  	select @UserID, @PunchDate,@dBalanceDate, @AccrualType, @TodayAccrualBalance , @AccrualDailyHours, isnull(@StartBalance,0), isnull(@AccruedBalance,0),	isnull(@TakenBalance,0), @sAccrualDays     	RETURN   	END   
GO
