USE [TIMEAIDE_7_SOUTHERN]
GO
/****** Object:  Table [dbo].[tServiceSettings]    Script Date: 10/18/2024 8:10:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tServiceSettings](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[bRunPunchData] [bit] NULL,
	[nPunchDataMin] [int] NULL,
	[bRunTimeSheet] [bit] NULL,
	[nTimeSheetMin] [int] NULL,
	[bRunRestrictClock] [bit] NULL,
	[nRestrictClockMin] [int] NULL,
	[bRunGroupWeekSched] [bit] NULL,
	[nGroupWeekSchedMin] [int] NULL,
	[bRunSchedScheduler] [bit] NULL,
	[nSchedSchedulerMin] [int] NULL,
	[bRunStatusReport] [bit] NULL,
	[nStatusReportMin] [int] NULL,
	[sStatusReportApp] [nvarchar](50) NULL,
	[sStatusReportName] [nvarchar](50) NULL,
	[nRestrictClockMode] [int] NULL,
	[nCompanyID] [int] NULL,
 CONSTRAINT [PK_tServiceSettings] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
