USE [TIMEAIDE_7_SOUTHERN]
GO
/****** Object:  Table [dbo].[tuserextended_160922]    Script Date: 10/18/2024 8:10:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tuserextended_160922](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[nUserID] [int] NULL,
	[sEmployeeID] [nvarchar](15) NULL,
	[sSSN] [nvarchar](15) NULL,
	[sEmployeeName] [nvarchar](50) NULL,
	[sHomeAddressLine1] [nvarchar](50) NULL,
	[sHomeAddressLine2] [nvarchar](50) NULL,
	[sHomeAddressLine3] [nvarchar](50) NULL,
	[sHomeCity] [nvarchar](50) NULL,
	[sHomeState] [nvarchar](50) NULL,
	[sHomeZipCode] [nvarchar](50) NULL,
	[sHomePhoneHum] [nvarchar](50) NULL,
	[sSex] [nvarchar](15) NULL,
	[sEthnicGroup] [nvarchar](50) NULL,
	[sMaritalStatus] [nvarchar](15) NULL,
	[dBirthDate] [datetime] NULL,
	[nDisabled] [int] NULL,
	[nMilitaryStatus] [int] NULL,
	[dOriginalHiredDate] [datetime] NULL,
	[dRehireDate] [datetime] NULL,
	[dServiceDate] [datetime] NULL,
	[dCompanySeniorityDate] [datetime] NULL,
	[dTerminationDate] [datetime] NULL,
	[sEmployeeStatus] [nvarchar](15) NULL,
	[sActionCode] [nvarchar](15) NULL,
	[dActionEffectiveDate] [nvarchar](50) NULL,
	[sLocation] [nvarchar](50) NULL,
	[nEmployeePositionNum] [int] NULL,
	[dJobDate] [datetime] NULL,
	[sJobCode] [nvarchar](15) NULL,
	[sJobTitle] [nvarchar](50) NULL,
	[nEEOJobCode] [int] NULL,
	[sPayGroup] [nvarchar](50) NULL,
	[dblScheduledWeekHrs] [float] NULL,
	[sShiftCode] [nvarchar](15) NULL,
	[dblHourlyRate] [float] NULL,
	[sRegTempCode] [nvarchar](15) NULL,
	[sFullPartTimeCode] [nvarchar](15) NULL,
	[dblBaseCompensationRate] [float] NULL,
	[sBaseCompensationFrequency] [nvarchar](15) NULL,
	[sPayrollGeneralLedgerNum] [nvarchar](15) NULL,
	[sWorkAtHome] [nvarchar](15) NULL,
	[sMailDropID] [nvarchar](15) NULL,
	[sDirectIndirectLaborCode] [nvarchar](15) NULL,
	[dblYearMinSalary] [float] NULL,
	[dblYearMidPointSalary] [float] NULL,
	[dblYearMaxSalary] [float] NULL,
	[sSupervisorID] [nvarchar](15) NULL,
	[sSupervisorName] [nvarchar](50) NULL,
	[sOrgStructureLevel2] [nvarchar](50) NULL,
	[sOrgStructureLevel3] [nvarchar](50) NULL,
	[sPayCategory] [nvarchar](15) NULL,
	[sEmergContactName] [nvarchar](50) NULL,
	[sEmergContactPhone] [nvarchar](50) NULL,
	[sEmergContactRelationship] [nvarchar](15) NULL,
	[nGraduationYear] [int] NULL,
	[sGradDegreeCode] [nvarchar](50) NULL,
	[sGradMajorCode] [nvarchar](50) NULL,
	[sGradSchoolCode] [nvarchar](50) NULL,
	[sPositionTitle] [nvarchar](50) NULL,
	[sGrade] [nvarchar](15) NULL
) ON [PRIMARY]
GO
