USE [TIMEAIDE_7_SOUTHERN]
GO
/****** Object:  View [dbo].[viewUser_Attendance]    Script Date: 10/18/2024 8:10:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
   CREATE VIEW [dbo].[viewUser_Attendance]   AS   SELECT     TOP (100) PERCENT tuser.id, tuser.name, tuser.idno, tuser.cardnum, tuser.nStatus, tuser.sNotes, tCompany.Name AS sCompanyName, tDept.Name AS sDeptName,                        tJobTitle.Name AS sJobTitleName, tEmployeeType.Name AS sEmployeeTypeName, tPayrollRule.Name AS sPayrollRuleName, tSchedule.Name AS sScheduleName,                        tuser.nDeptID, tuser.nJobTitleID, tuser.nGroupID, tuser.nEmployeeType, tuser.nCompanyID, tuser.nPayrollRuleID, tuser.nScheduleID,                        tUserExtended.dCompanySeniorityDate, tUserExtended.dBirthDate, tUserExtended.sRegTempCode, tUserExtended.sFullPartTimeCode,                        tUserExtended.sBaseCompensationFrequency, tUserExtended.sSupervisorID, tUserExtended.sSupervisorName, tUserAttendanceRules.nTardinessRulesID,                        tTardinessRules.Name AS TardinessRuleName, tUserAttendanceRules.nAttendanceRulesID, tAttendanceRules.Name AS AttendanceRuleName                                              FROM         tAttendanceRules INNER JOIN                       tUserAttendanceRules ON tAttendanceRules.ID = tUserAttendanceRules.nAttendanceRulesID INNER JOIN                       tTardinessRules ON tUserAttendanceRules.nTardinessRulesID = tTardinessRules.ID RIGHT OUTER JOIN                       tuser ON tUserAttendanceRules.nUserID = tuser.id LEFT OUTER JOIN                       tUserExtended ON tuser.id = tUserExtended.nUserID LEFT OUTER JOIN                       tEmployeeType ON tuser.nEmployeeType = tEmployeeType.ID LEFT OUTER JOIN                       tSchedule ON tuser.nScheduleID = tSchedule.ID LEFT OUTER JOIN                       tPayrollRule ON tuser.nPayrollRuleID = tPayrollRule.ID LEFT OUTER JOIN                       tJobTitle ON tuser.nJobTitleID = tJobTitle.ID LEFT OUTER JOIN                       tDept ON tuser.nDeptID = tDept.ID LEFT OUTER JOIN                       tCompany ON tuser.nCompanyID = tCompany.ID   WHERE tUserAttendanceRules.nAttendanceRulesID > 0 or tUserAttendanceRules.nTardinessRulesID > 0    ORDER BY tuser.name   
GO
