USE [TIMEAIDE_7_SOUTHERN]
GO
/****** Object:  StoredProcedure [dbo].[IMPORT_ATTENDANCEDATA_ByAttRuleIDDates]    Script Date: 10/18/2024 8:10:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
         CREATE PROCEDURE [dbo].[IMPORT_ATTENDANCEDATA_ByAttRuleIDDates]  @nImportDate as int, @StartDate as datetime, @EndDate as datetime, @AttRulesID as int   AS    DECLARE @ERROR1 as int   DECLARE @ERROR2 as int   DECLARE @ERROR3 as int   DECLARE @ERROR4 as int   DECLARE @UPDATE_AFFECTED as int   DECLARE @INSERT_AFFECTED as int   BEGIN TRAN    /******Delete attendance transactions from tHLTransDailyDetail between StartDate and EndDate for single Attendance Rule******/   delete from tHLTransDailyDetail  FROM         tHLTransDailyDetail AS tdd INNER JOIN                        viewUser_Attendance AS vu ON tdd.e_id = vu.id INNER JOIN                        tPunchDate AS pdt ON tdd.e_id = pdt.e_id AND tdd.DTPunchDate = pdt.DTPunchDate INNER JOIN                        tReportWeek AS r ON pdt.nWeekID = r.nWeekID INNER JOIN                        tTransDef ON tdd.sType = tTransDef.Name LEFT OUTER JOIN                        tUserExtended ON tdd.e_id = tUserExtended.nUserID  WHERE     tdd.DTPunchDate between @StartDate and @EndDate and vu.nAttendanceRulesID = @AttRulesID and tdd.nAttendanceRevision>0    SET @ERROR3 = @@ERROR   /******Mark unprocessed attendance transactions from tPunchDateDetail between StartDate and EndDate for single Attendance Rule******/   update tPunchDateDetail set nHRProcessedCode  = 0   FROM         tPunchDateDetail AS pdd INNER JOIN                        viewUser_Attendance AS vu ON pdd.e_id = vu.id INNER JOIN                        tPunchDate AS pdt ON pdd.e_id = pdt.e_id AND pdd.DTPunchDate = pdt.DTPunchDate INNER JOIN                        tReportWeek AS r ON pdt.nWeekID = r.nWeekID INNER JOIN                        tTransDef ON pdd.sType = tTransDef.Name LEFT OUTER JOIN                        tUserExtended ON pdd.e_id = tUserExtended.nUserID  WHERE     pdd.DTPunchDate between @StartDate and @EndDate and vu.nAttendanceRulesID = @AttRulesID and tTransDef.nAttendanceRevision>0    set @ERROR4 = @@ERROR    /******Import into tHLTransDailyDetail all attendance transactions  between StartDate and EndDate for single Attendance Rule******/   INSERT INTO tHLTransDailyDetail  SELECT      pdd.e_id, vu.idno AS e_idno, vu.name AS e_name, pdd.DTPunchDate, pdd.sType, pdd.sExportCode AS pCode, pdd.dblHours AS HoursWorked,                        pdd.nWeekID, tTransDef.nIsAbsent AS nIsTransAbsent, 0 AS nPunchDateDayOfWeek, tTransDef.nAttendaceCategory AS nHRAttendanceCat,                        @nImportDate AS nHRProcessedCode, 0 AS nHRReportCode, tTransDef.sParentCode AS sMasterTrans, vu.nCompanyID, vu.sCompanyName, vu.nDeptID,                        vu.sDeptName, vu.nJobTitleID, vu.sJobTitleName, vu.nEmployeeType AS nEmployeeTypeID, vu.sEmployeeTypeName, tTransDef.nAttendanceRevision,                         tTransDef.nTardinessRevision, tUserExtended.sSupervisorID AS nSupervisorID, tUserExtended.sSupervisorName, 0 AS nAttendanceProcessed,                        0 AS nAttendanceReportCode, 0 AS nTardinessProcessed, 0 AS nTardinessReportCode  FROM         tPunchDateDetail AS pdd INNER JOIN                        viewUser_Attendance AS vu ON pdd.e_id = vu.id INNER JOIN                        tPunchDate AS pdt ON pdd.e_id = pdt.e_id AND pdd.DTPunchDate = pdt.DTPunchDate INNER JOIN                        tReportWeek AS r ON pdt.nWeekID = r.nWeekID INNER JOIN                        tTransDef ON pdd.sType = tTransDef.Name LEFT OUTER JOIN                        tUserExtended ON pdd.e_id = tUserExtended.nUserID  WHERE     pdd.DTPunchDate between @StartDate and @EndDate and vu.nAttendanceRulesID = @AttRulesID and tTransDef.nAttendanceRevision>0    SET @ERROR1 = @@ERROR    SET @INSERT_AFFECTED = @@ROWCOUNT    /******Mark tPunchDateDetail processed for all attendance transactions  between StartDate and EndDate for single Attendance Rule******/   UPDATE tPunchDateDetail SET tPunchDateDetail.nHRProcessedCode = @nImportDate  FROM         tPunchDateDetail AS pdd INNER JOIN                        viewUser_Attendance AS vu ON pdd.e_id = vu.id INNER JOIN                        tPunchDate AS pdt ON pdd.e_id = pdt.e_id AND pdd.DTPunchDate = pdt.DTPunchDate INNER JOIN                        tReportWeek AS r ON pdt.nWeekID = r.nWeekID INNER JOIN                        tTransDef ON pdd.sType = tTransDef.Name LEFT OUTER JOIN                        tUserExtended ON pdd.e_id = tUserExtended.nUserID  WHERE     pdd.DTPunchDate between @StartDate and @EndDate and vu.nAttendanceRulesID = @AttRulesID and  tTransDef.nAttendanceRevision>0    SET @ERROR2 =@@ERROR    SET @UPDATE_AFFECTED = @@ROWCOUNT    IF @ERROR1 != 0 OR @ERROR2 !=0 or @ERROR3 !=0 or @ERROR4 !=0    /******Roll Back if there has been an error anywhere******/   BEGIN    	ROLLBACK TRAN    SET @INSERT_AFFECTED = 0    END    ELSE    BEGIN    	COMMIT TRAN     END    RETURN  @INSERT_AFFECTED      
GO
