USE [TIMEAIDE_7_SOUTHERN]
GO
/****** Object:  UserDefinedFunction [dbo].[fnComp_StartOfDayBalance]    Script Date: 10/18/2024 8:10:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
   CREATE FUNCTION [dbo].[fnComp_StartOfDayBalance](@UserID int, @AccrualType varchar(50), @SearchDate datetime) RETURNS  decimal(18,5) AS BEGIN 	DECLARE @BeginningBal  decimal(18,5); 	DECLARE @AccruedBal  decimal(18,5)=0; 	DECLARE @TakenBal  decimal(18,5)=0; 	DECLARE @BalanceDate date; 		 	declare @dUCBalanceStartDate as date  	declare @dUCCBalanceStartDate as date  	select @dUCBalanceStartDate  = max(dBalanceStartDate) FROM [dbo].[tUserCompensationBalances]  where nUserID = @USERID AND (dBalanceStartDate <= @SearchDate ) AND (sAccrualType = @AccrualType ) 	select @dUCCBalanceStartDate  = max(dBalanceStartDate) FROM [dbo].[tUserCompensationComputedBalances] where nUserID = @USERID AND (dBalanceStartDate <= @SearchDate ) AND (sAccrualType = @AccrualType )   	IF isnull(@dUCBalanceStartDate,'1/1/1900') > isnull(@dUCCBalanceStartDate,'1/1/1900')  		BEGIN 			select top(1)  @BeginningBal =  ucb.dblAccruedHours, @BalanceDate= ucb.dBalanceStartDate  			from tUserCompensationBalances ucb 	where nUserID = @USERID and sAccrualType= @AccrualType and dBalanceStartDate = @dUCBalanceStartDate  		END 	ELSE 		BEGIN 			select top(1) @BeginningBal =  ucb.dblAccruedHours, @BalanceDate= ucb.dBalanceStartDate  			from tUserCompensationComputedBalances ucb 	where nUserID = @USERID and sAccrualType= @AccrualType and dBalanceStartDate = @dUCCBalanceStartDate  		END     		SELECT @AccruedBal = [dbo].[fnComp_DayAccruedHours](@UserID,@AccrualType,@BalanceDate,@SearchDate) 		SELECT @TakenBal = [dbo].[fnComp_UsedHours](@UserID , @AccrualType,@BalanceDate, @SearchDate )     	RETURN isnull(@BeginningBal,0)  + isnull(@AccruedBal,0) - isnull(@TakenBal,0) END;   
GO
