USE [TIMEAIDE_7_SOUTHERN]
GO
/****** Object:  Table [dbo].[tblChristmasBonusTransactions]    Script Date: 10/18/2024 8:10:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblChristmasBonusTransactions](
	[strCompanyName] [nvarchar](50) NOT NULL,
	[strTransName] [nvarchar](50) NOT NULL
) ON [PRIMARY]
GO
