USE [TIMEAIDE_7_SOUTHERN]
GO
/****** Object:  Table [dbo].[tPunchDateDetailPayCycle]    Script Date: 10/18/2024 8:10:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tPunchDateDetailPayCycle](
	[tpdID] [int] IDENTITY(1,1) NOT NULL,
	[e_id] [int] NOT NULL,
	[DTPunchDate] [smalldatetime] NULL,
	[dblHours] [float] NULL,
	[sType] [nvarchar](30) NULL,
	[sExportCode] [nvarchar](10) NULL,
	[nPayWeekNum] [int] NULL,
	[nPayCycleType] [int] NULL,
 CONSTRAINT [PK_tPunchDateDetailPayCycle] PRIMARY KEY CLUSTERED 
(
	[tpdID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
