USE [TIMEAIDE_7_SOUTHERN]
GO
/****** Object:  Table [dbo].[tHoliday]    Script Date: 10/18/2024 8:10:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tHoliday](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[HolidayName] [nvarchar](50) NULL,
	[HolidayDesc] [nvarchar](50) NULL,
	[HolidayDate] [datetime] NULL,
	[nHolidayRule] [int] NULL,
	[nProcessed] [int] NULL,
	[nCompany] [int] NULL,
 CONSTRAINT [PK_tHoliday] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
