USE [TIMEAIDE_7_SOUTHERN]
GO
/****** Object:  Table [dbo].[ClientInfo]    Script Date: 10/18/2024 8:10:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ClientInfo](
	[ClientID] [int] NOT NULL,
	[UseTimeAideWeb] [int] NOT NULL,
	[TimeAideWebServer] [nvarchar](200) NOT NULL,
	[TimeAideWebDatabase] [nvarchar](200) NOT NULL,
	[UsePayrollCenter] [int] NOT NULL,
	[PayrollCenterServer] [nvarchar](200) NOT NULL,
	[PayrollCenterDatabase] [nvarchar](200) NOT NULL,
 CONSTRAINT [PK_ClientInfo] PRIMARY KEY CLUSTERED 
(
	[ClientID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
