USE [TIMEAIDE_7_SOUTHERN]
GO
/****** Object:  StoredProcedure [dbo].[spAtt_ResetandImportTardinessTrans_RulesID]    Script Date: 10/18/2024 8:10:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
 CREATE PROCEDURE [dbo].[spAtt_ResetandImportTardinessTrans_RulesID] 	/******  Add the parameters for the stored procedure here ******/ 	@STARTDATE AS smalldatetime, 	@ENDDATE as smalldatetime, 	@RULEID AS int, 	@USERID AS int, 	@LETTERCODE as int, 	@RESET as int, 	@RECORD_COUNT int OUTPUT AS BEGIN DECLARE @ERROR1 as int      BEGIN TRY BEGIN TRANSACTION    if @RESET = 1 BEGIN /****** 	 Delete previous Tardiness data in tTardinessTransactions ******/ 	delete from tTardinessTransactions from tTardinessTransactions AL inner join viewAtt_UserTardiness VU ON AL.e_id = VU.id 	and vu.nTardinessRulesID = @RULEID AND dtPunchDate between @STARTDATE AND @ENDDATE AND nTardinessRevLetter = 1 AND (e_id= @USERID OR @USERID=0)              	/****** 	 Mark the previous transactions as unprocessed ******/ 	update tPunchDateDetail set  [nTardinessLetterCode] = 0    		FROM tPunchDateDetail AS pdd INNER JOIN viewAtt_UserTardiness AS vu ON pdd.e_id = vu.id  		INNER JOIN tTransDef td ON pdd.sType = td.Name  		WHERE vu.nTardinessRulesID = @RULEID AND pdd.dtPunchDate between @STARTDATE AND @ENDDATE 		AND td.nTardinessRevLetter= 1 AND (e_id= @USERID OR @USERID=0) END   /****** Import current transactions.  [nTardinessLetterCode] in PunchDateDetail determines if a transactions has been imported or not. ******/ INSERT INTO tTardinessTransactions (e_id, e_name, DTPunchDate, sType, pCode, HoursWorked, nWeekID, nProcessedCode, nTardinessRevLetter, nWarningLetterID) SELECT     pdd.e_id, vu.name AS e_name, pdd.DTPunchDate as DTPunchDate, pdd.sType as sType, pdd.sExportCode AS pCode, pdd.dblHours AS HoursWorked, pdd.nWeekID as nWeekID,   			@LETTERCODE AS nProcessedCode,  tTransDef.nTardinessRevLetter as nTardinessRevLetter ,0 as  nWarningLetterID              FROM tPunchDateDetail AS pdd INNER JOIN viewAtt_UserTardiness AS vu ON pdd.e_id = vu.id INNER JOIN              tPunchDate AS pdt ON pdd.e_id = pdt.e_id AND pdd.DTPunchDate = pdt.DTPunchDate INNER JOIN              tTransDef ON pdd.sType = tTransDef.Name               WHERE vu.nTardinessRulesID = @RULEID AND pdd.dtPunchDate between @STARTDATE AND @ENDDATE 			AND tTransDef.nTardinessRevLetter = 1 AND (vu.id= @USERID OR @USERID=0) AND pdd.[nTardinessLetterCode] = 0   /****** Mark the previous transactions as Processed ******/ update tPunchDateDetail set [nTardinessLetterCode]  = @LETTERCODE  		FROM tPunchDateDetail AS pdd INNER JOIN viewAtt_UserTardiness AS vu ON pdd.e_id = vu.id  		INNER JOIN tTransDef td ON pdd.sType = td.Name          WHERE vu.nTardinessRulesID = @RULEID AND pdd.dtPunchDate between @STARTDATE AND @ENDDATE 		AND td.nTardinessRevLetter= 1 AND (e_id= @USERID OR @USERID=0)    set @RECORD_COUNT = @@ROWCOUNT   COMMIT    END TRY   BEGIN CATCH SET @RECORD_COUNT = 0 ROLLBACK  END CATCH RETURN END   /****** Object:  StoredProcedure [dbo].[spAtt_ResetandImportAttendanceTrans_RulesID]    Script Date: 8/19/2016 12:19:57 PM ******/ SET ANSI_NULLS ON   
GO
