USE [TIMEAIDE_7_SOUTHERN]
GO
/****** Object:  Table [dbo].[tUser_160922]    Script Date: 10/18/2024 8:10:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tUser_160922](
	[id] [int] NOT NULL,
	[name] [varchar](30) NULL,
	[reg_date] [varchar](12) NULL,
	[datelimit] [varchar](17) NULL,
	[idno] [varchar](30) NULL,
	[badmin] [varchar](1) NULL,
	[padmin] [int] NULL,
	[company] [varchar](30) NULL,
	[dept] [varchar](30) NULL,
	[phone] [varchar](50) NULL,
	[group_id] [smallint] NULL,
	[cantgate] [image] NULL,
	[timegate] [image] NULL,
	[validtype] [varchar](1) NULL,
	[pwd] [varchar](8) NULL,
	[cancard] [varchar](1) NULL,
	[cardnum] [varchar](20) NULL,
	[identify] [varchar](1) NULL,
	[seculevel] [varchar](1) NULL,
	[fpdata] [image] NULL,
	[fpimage] [image] NULL,
	[fpname] [image] NULL,
	[face] [image] NULL,
	[voice] [image] NULL,
	[remark] [varchar](50) NULL,
	[antipass_state] [int] NULL,
	[antipass_lasttime] [varchar](14) NULL,
	[nCompanyID] [int] NULL,
	[nDeptID] [int] NULL,
	[nJobTitleID] [int] NULL,
	[nGroupID] [int] NULL,
	[nEmployeeType] [int] NULL,
	[nStatus] [int] NULL,
	[sNotes] [nvarchar](50) NULL,
	[objPhoto] [image] NULL,
	[nPunchClockID] [int] NULL,
	[nPayrollRuleID] [int] NULL,
	[nScheduleID] [int] NULL,
	[nSupervisorType] [int] NULL,
	[sPwd] [nvarchar](10) NULL,
	[nCompanyRest] [int] NULL,
	[nDeptRest] [int] NULL,
	[nCatRest] [int] NULL,
	[bEmpRecordsView] [bit] NULL,
	[bEmpRecordsEdit] [bit] NULL,
	[bEmpReportsView] [bit] NULL,
	[bPunchMaintView] [bit] NULL,
	[bPunchMaintEdit] [bit] NULL,
	[bPunchSuperView] [bit] NULL,
	[bReptPeriod] [bit] NULL,
	[bReptHistorical] [bit] NULL,
	[bReptAudit] [bit] NULL,
	[bExportPayroll] [bit] NULL,
	[bPayRuleView] [bit] NULL,
	[bPayRuleEdit] [bit] NULL,
	[bSchedView] [bit] NULL,
	[bSchedEdit] [bit] NULL,
	[bCompanySettings] [bit] NULL,
	[bMonitor] [bit] NULL,
	[bEmployeeImport] [bit] NULL,
	[bRestrictClock] [bit] NULL,
	[nRestrickClock] [int] NULL,
	[nSupervisorViewOptions] [int] NULL,
	[bHoursLostView] [bit] NULL,
	[bHoursLostEdit] [bit] NULL,
	[nSickRule] [int] NULL,
	[nVacationRule] [int] NULL,
	[nEmployeeTypeRest] [int] NULL,
	[sPwdHash] [nvarchar](max) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
