USE [TIMEAIDE_7_SOUTHERN]
GO
/****** Object:  Table [dbo].[tInterfaceFieldLU]    Script Date: 10/18/2024 8:10:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tInterfaceFieldLU](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[nFieldCode] [int] NULL,
	[sFieldCode] [nvarchar](50) NULL,
	[sDefFieldName] [nvarchar](50) NULL,
	[sCustomFieldName] [nvarchar](50) NULL,
 CONSTRAINT [PK_tInterfaceFieldLU] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
