USE [TIMEAIDE_7_SOUTHERN]
GO
/****** Object:  StoredProcedure [dbo].[spCompensatioAccrualsComputationLog]    Script Date: 10/18/2024 8:10:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
   CREATE PROCEDURE [dbo].[spCompensatioAccrualsComputationLog] 	@USERID int, 	@StartDate date, 	@AccrualType nvarchar(50) AS BEGIN 	SET NOCOUNT ON; 	SET XACT_ABORT ON; 	BEGIN TRY 	BEGIN TRAN ACL   	DELETE FROM [dbo].[tAccrualsComputationLog] 	where intUserID = @USERID and dtEffectiveMonth >= @StartDate and strAccrualType = @AccrualType   	INSERT INTO [dbo].[tAccrualsComputationLog] 			   ([ID] 			   ,[strAccrualType] 			   ,[strAccrualTypeDesc] 			   ,[dtEffectiveMonth] 			   ,[dtPeriodStartDate] 			   ,[dtPeriodEndDate] 			   ,[intUserID] 			   ,[strUserName] 			   ,[dblHoursWorked] 			   ,[dblPreviousAccrualHours] 			   ,[dblCurrentAccrualHours] 			   ,[dblAccruedHours] 			   ,[intAdminID] 			   ,[strAdminName] 			   ,[dblEffectivePayRate] 			   ,[dtAccrualsComputeDate] 			   ,[intAccrualLogMode]) 			   select 			   0 			   ,[sAccrualType] 			   ,'Start Balance' as strAccrualTypeDesc 			   ,dBalanceStartDate as  dtEffectiveMonth 			   ,dBalanceStartDate as dtPeriodStartDate 			   ,dBalanceStartDate as dtPeriodEndDate 			   ,nUserID as intUserID 			   ,u.name as  strUserName 			   ,0 as dblHoursWorked 			   ,isnull(dbo.fnComp_EndOfDayBalance(nUserID,sAccrualType,dateadd(day,-1,ucb.dBalanceStartDate) ),0)  as dblPreviousAccrualHours 			   ,isnull(dbo.fnComp_StartOfDayBalance(nUserID,sAccrualType,ucb.dBalanceStartDate),0)  as dblCurrentAccrualHours 			   ,[dblAccruedHours] 			   ,nSuperID 			   ,isnull((select top(1) name from tuser where id = u.id),'') 			   ,0 AS dblEffectivePayRate 			   ,dtModifiedDate AS dtAccrualsComputeDate 			   ,1 AS intAccrualLogMode 			   from tUserCompensationBalances ucb inner join tuser u on ucb.nUserID = u.id 			where nUserID = @USERID and dBalanceStartDate >= @StartDate and sAccrualType = @AccrualType   		INSERT INTO [dbo].[tAccrualsComputationLog] 			   ([ID] 			   ,[strAccrualType] 			   ,[strAccrualTypeDesc] 			   ,[dtEffectiveMonth] 			   ,[dtPeriodStartDate] 			   ,[dtPeriodEndDate] 			   ,[intUserID] 			   ,[strUserName] 			   ,[dblHoursWorked] 			   ,[dblPreviousAccrualHours] 			   ,[dblCurrentAccrualHours] 			   ,[dblAccruedHours] 			   ,[intAdminID] 			   ,[strAdminName] 			   ,[dblEffectivePayRate] 			   ,[dtAccrualsComputeDate] 			   ,[intAccrualLogMode]) 	select  				0 [ID] 			   ,sAccrualType [strAccrualType] 			   ,sAccrualTypeDesc [strAccrualTypeDesc] 			   ,dEffectiveDate [dtEffectiveMonth] 			   ,dPeriodStartDate [dtPeriodStartDate] 			   ,dPeriodEndDate [dtPeriodEndDate] 			   ,nuserid [intUserID] 			   ,name [strUserName] 			   ,dblPeriodHours [dblHoursWorked] 			   ,isnull(dbo.fnComp_EndOfDayBalance(nUserID,sAccrualType,dateadd(day,-1,dEffectiveDate) ),0)  [dblPreviousAccrualHours] 			   ,isnull(dbo.fnComp_StartOfDayBalance(nUserID,sAccrualType,dEffectiveDate),0)  [dblCurrentAccrualHours] 			   ,[dblAccruedHours] 			   ,[intAdminID] 			   ,[strAdminName] 			   ,[dblEffectivePayRate] 			   ,[dtAccrualsComputeDate] 			   ,1 [intAccrualLogMode] 	   FROM tUserCompensationAccruals  uca inner join tuser u on uca.nUserID = u.id 			where nUserID = @USERID and dEffectiveDate >= @StartDate and sAccrualType = @AccrualType   	INSERT INTO [dbo].[tAccrualsComputationLog] 			   ([ID] 			   ,[strAccrualType] 			   ,[strAccrualTypeDesc] 			   ,[dtEffectiveMonth] 			   ,[dtPeriodStartDate] 			   ,[dtPeriodEndDate] 			   ,[intUserID] 			   ,[strUserName] 			   ,[dblHoursWorked] 			   ,[dblPreviousAccrualHours] 			   ,[dblCurrentAccrualHours] 			   ,[dblAccruedHours] 			   ,[intAdminID] 			   ,[strAdminName] 			   ,[dblEffectivePayRate] 			   ,[dtAccrualsComputeDate] 			   ,[intAccrualLogMode]) 	select         	0   	,td.sAccrualImportName  as [strAccrualType]      ,pp.sType as [strAccrualTypeDesc]      ,pp.DTPunchDate as [dtEffectiveMonth]      ,pp.DTPunchDate as [dtPeriodStartDate]      ,pp.DTPunchDate as [dtPeriodEndDate]         ,pp.e_id as [intUserID]         ,u.name as [strUserName]         ,0 as [dblHoursWorked]         , isnull([dbo].[fnComp_EndOfDayBalance](pp.e_id,td.sAccrualImportName,dateadd(day,-1,pp.DTPunchDate)),0) dblPreviousAccrualHours         , isnull([dbo].[fnComp_EndOfDayBalance](pp.e_id,td.sAccrualImportName,pp.DTPunchDate),0)  as [dblCurrentAccrualHours]         ,-pp.HoursWorked [dblAccruedHours]         ,0 [intAdminID]         ,'' [strAdminName]         ,0 [dblEffectivePayRate]         , getdate() [dtAccrualsComputeDate]         ,2 as intAccrualLogMode 	from (select e_id, sType, DTPunchDate, sum(HoursWorked) HoursWorked from  tpunchpair group by e_id, sType, DTPunchDate) pp 	 inner join tuser u on pp.e_id = u.id  inner join ttransdef td on pp.sType = td.name  	where td.sAccrualImportName = @AccrualType and pp.e_id =@USERID 	and pp.DTPunchDate>= @StartDate 	order by dtEffectiveMonth asc   	COMMIT  	END TRY 	BEGIN CATCH 		 SELECT    			ERROR_NUMBER() AS ErrorNumber   		   ,ERROR_MESSAGE() AS ErrorMessage;  	END CATCH END   
GO
